import 'dart:math';

import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package:flutter/services.dart';

class Start extends StatefulWidget {
  @override
  _Start
# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/